<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss} %c:%L %p  [%X{traceid}] [%X{rqTraceId}][%X{userName}] - %m%n" />
        </Console>

        <!--XMDFile异步磁盘日志配置示例-->
        <!--默认按天&按512M文件大小切分日志，默认最多保留30个日志文件。-->
        <!--目录为/opt/logs/${appkey} 或 /data/applogs/${appkey}，优先选用磁盘挂载目录-->
        <!--注意：fileName前会自动增加文件路径，只配置文件名即可-->
        <XMDFile name="SERVICE-LOG" fileName="fee.log"
                 rolloverMax="60" xmdFilePath="/home/fr/webServer/fee/logs" sizeBasedTriggeringSize="2048MB" addAppkeyToFilePath="false">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss} %c:%L %p  [%X{traceid}] [%X{rqTraceId}][%X{userName}] - %m%n" />
        </XMDFile>

        <!--可选配置：ERROR日志、WARN日志单独输出到一个文件-->
        <XMDFile name="ERROR-LOG" fileName="fee_error.log"
                 rolloverMax="60" xmdFilePath="/home/fr/webServer/fee/logs" sizeBasedTriggeringSize="2048MB" addAppkeyToFilePath="false">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss} %c:%L %p  [%X{traceid}] [%X{rqTraceId}][%X{userName}] - %m%n" />
        </XMDFile>
        <XMDFile name="WARN-LOG" fileName="fee_warn.log"
                 rolloverMax="60" xmdFilePath="/home/fr/webServer/fee/logs" sizeBasedTriggeringSize="2048MB" addAppkeyToFilePath="false">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss} %c:%L %p  [%X{traceid}] [%X{rqTraceId}][%X{userName}] - %m%n" />
        </XMDFile>
    </appenders>

    <loggers>

        <!--打印执行的sql-->
        <logger name="com.flightroutes.flight.fee.repository" level="trace" additivity="false">
            <appender-ref ref="SERVICE-LOG" />
        </logger>

        <root level="info">
            <appender-ref ref="SERVICE-LOG" />
            <appender-ref ref="ERROR-LOG" />               <!--  ERROR日志单独输出到一个文件  -->
            <appender-ref ref="WARN-LOG" />                <!--  ERROR&WARN日志单独输出到一个文件 -->
        </root>
    </loggers>
</configuration>
